/GestioEscandalls/nbproject/private/
/GestioEscandallsHibernate/nbproject/private/
/Model/nbproject/private/
/Swing_JPA/GestioEscandallsHibernate/dist/
/Swing_JPA/GestioEscandallsHibernate/build/
/Swing_JPA/Model/build/
/Swing_JPA/Model/dist/
/Swing_JPA/GestioEscandallsHibernate/nbproject/private/
/Swing_JPA/Model/nbproject/private/