/GestioEscandalls/nbproject/private/
/GestioEscandallsHibernate/nbproject/private/
/Model/nbproject/private/
/Swing_JPA/GestioEscandallsHibernate/dist/
/Swing_JPA/GestioEscandallsHibernate/build/
/Swing_JPA/Model/build/
/Swing_JPA/Model/dist/
/Swing_JPA/GestioEscandallsHibernate/nbproject/private/
/Swing_JPA/Model/nbproject/private/
/Swing_JPA/GestioEscandalls/nbproject/private/
/Swing_JPA/GestioEscandalls/build/
/Swing_JPA/GestioEscandalls/dist/
/Servidor_Java/JavaApplication34/nbproject/private/
/Servidor_Java/Servidor/nbproject/private/
/Servidor_Java/Servidor/build/